.about-section {
    padding: 40px 0 0;
    min-height: 100vh;

    .about-img {
        flex: 0 0 40%;
        max-width: 35%;
        padding: 0 15px;

        .img-box {
            padding: 15px;
            border-radius: 5px;

            img {
                height: 100%;
                width: 100%;
                border: 10px solid transparent;
                border-radius: 5px;
            }
        }

        .social-links {
            margin-top: 20px;
            text-align: center;

            a {
                display: inline-block;
                height: 40px;
                width: 40px;
                font-size: 16px;
                text-align: center;
                color:  var(--text-black-600);
                margin: 0 4px;
                border-radius: 50%;
                transition: all 0.3s ease;

                &:hover {
                    color: var(--skin-color);
                }

                &::after {
                    border-radius: 50%;
                }

                i {
                    line-height: 40px;
                }
            }
        }
    }

    .about-info {
        flex: 0 0 60%;
        max-width: 65%;
        padding: 0 15px;

        p {
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 15px;
            color: var(--text-black-600);
        }

        span {
            font-weight: 600;
        }

        .btn-1 {
            margin: 10px 20px 0 0;
        }
    }
}

.about-section {
    .about-tabs {
        padding: 100px 15px 50px;
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;

        .tab-item {
            display: inline-block;
            margin: 0 5px 10px;
            cursor: pointer;
            padding: 5px 10px;
            border-radius: 30px;
            transition: all 0.3s ease;
            font-size: 16px;
            color: var(--text-black-600);
            font-weight: 500;
            text-transform: capitalize;

            &:hover {
                &:not(.active) {
                    opacity: 0.6;
                }
            }

            &.active {
                color: var(--skin-color);
            }
        }
    }
}

.about-section {
    .tab-content {
        flex: 0 0 100%;
        max-width: 100%;
        display: none;
        &.active{
            display: block;
            animation: fadeInTop 0.3s ease;
        }
        @keyframes fadeInTop {
            0%{
                opacity: 0;
                transform: translateY(-25px);
            }
            100%{
                opacity: 1;
                transform: translateY(0px);
            }
        }
    }

    .skills {
        padding: 0 0 40px;

        .skill-item {
            flex: 0 0 50%;
            max-width: 50%;
            padding: 0 15px;
            margin-bottom: 40px;

            p {
                font-size: 16px;
                color: var(--text-black-600);
                text-transform: capitalize;
                margin: 0 0 10px;
            }

            .progress {
                height: 20px;
                border-radius: 10px;
                position: relative;

                .progress-bar {
                    background-color: var(--text-black-600);
                    height: 6px;
                    position: absolute;
                    left: 7px;
                    top: 7px;
                    border-radius: 10px;

                    span {
                        position: absolute;
                        right: 0;
                        top: 0;
                        font-size: 16px;
                        font-weight: 500;
                        color: var(--text-black-600);
                        margin-top: -40px;
                    }
                }
            }
        }
    }
}

.about-section {
    .experience {
        padding-bottom: 80px;
    }
    .education{
        padding-bottom: 80px;
    }

    .timeline {
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;

        &::before {
            content: '';
            width: 1px;
            height: 100%;
            left: 50%;
            top: 0;
            background-color: var(--bg-black-100);
            position: absolute;
        }
    }

    .timeline-item {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 15px;
    }

    .timeline-item {
        &:nth-child(odd) {
            padding-right: calc(50% + 50px);
            text-align: right;

            .icon {
                right: -70px;
            }

            .timeline-item-inner {
                &::before {
                    right: -37px;
                }
            }
        }

        &:nth-child(even) {
            padding-left: calc(50% + 50px);

            .icon {
                left: -70px;
            }

            .timeline-item-inner {
                &::before {
                    left: -37px;
                }
            }
        }
    }

    .timeline-item-inner {
        padding: 30px;
        border-radius: 5px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 37px;
            height: 1px;
            background-color: var(--bg-black-100);
            z-index: -1;
            top: 37px;
        }

        .icon {
            position: absolute;
            height: 40px;
            width: 40px;
            top: 18px;
            background-color: var(--bg-black-50);
            border: 1px solid var(--bg-black-100);
            border-radius: 50%;
            font-size: 16px;
            color: var(--skin-color);
            text-align: center;
            line-height: 40px;
        }

        span {
            font-weight: 500;
            color: var(--skin-color);
            display: block;
            margin: 0 0 10px;
            text-transform: capitalize;
        }

        h3 {
            font-size: 20px;
            color: var(--text-black-700);
            font-weight: 600;
            margin: 0 0 5px;
            text-transform: capitalize;
        }

        h4 {
            font-size: 16px;
            color: var(--skin-color);
            font-style: italic;
            margin: 0;
            text-transform: capitalize;
        }

        p {
            font-size: 16px;
            color: var(--text-black-600);
            line-height: 26px;
            margin: 15px 0 0;
        }
    }
}