.contact-section {
    padding: 40px 0 40px;
    min-height: 100vh;

    .contact-item {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        padding: 15px;
        display: flex;
    }

    .contact-item-inner {
        padding: 30px 15px;
        text-align: center;
        border-radius: 5px;
        width: 100%;

        i {
            font-size: 22px;
            color: var(--skin-color);
        }

        span {
            display: block;
            font-size: 16px;
            font-weight: 600;
            color: var(--text-black-700);
            margin: 15px 0 10px;
            text-transform: capitalize;
        }

        p {
            font-size: 16px;
            color: var(--text-black-600);
            line-height: 26px;
            margin: 0;
            word-break: break-word;

            a {
                font-size: 16px;
                color: var(--text-black-600);
                line-height: 26px;
                margin: 0;
                word-break: break-word;
            }
        }
    }
}

.contact-section {
    .contact-form {
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 50px;
    }

    .w-50 {
        padding: 0 15px;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .input-group {
        margin: 0 0 25px;
        transition: all 0.3s ease;
        border-radius: 30px;

        .input-control {
            height: 45px;
            display: block;
            width: 100%;
            border-radius: 30px;
            border: none;
            outline: none;
            background-color: transparent;
            font-size: 16px;
            padding: 0 15px;
            color: var(--text-black-700);
            z-index: 100;
        }

        textarea{
            &.input-control{
                height: 184px;
                padding-top: 15px;
                resize: none;
            }
        }

        &::after {
            border-radius: 30px;
        }
    }

    .submit-btn{
        flex: 0 0 100%;
        max-width: 100%;
        text-align: right;
        padding: 0 15px;
        .button{
            outline: none;
        }
    }
}