.service-section {
    padding: 40px 0 40px;
    min-height: 100vh;

    .service-item {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        padding: 15px;
        display: flex;
        flex-wrap: wrap;

        .service-item-inner {
            padding: 35px 10px;
            border-radius: 5px;
            text-align: center;
            width: 100%;

            &:hover {
                .icon {
                    box-shadow: var(--inner-shadow-0);
                    &::after{
                        box-shadow: var(--outer-shadow);
                    }
                    i {
                        color: var(--skin-color);
                    }
                }
            }

            .icon {
                height: 60px;
                width: 60px;
                text-align: center;
                border-radius: 50%;
                transition: all 0.3s ease;
                display: block;
                margin: 0 auto 15px;
                position: relative;
                color: var(--text-black-600);

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    transition: all 0.3s ease;
                }

                i {
                    font-size: 25px;
                    line-height: 60px;
                    transition: all 0.3s ease;

                    .android {
                        height: 29px;
                        width: 29px;
                    }

                    .freelancer {
                        height: 38px;
                        width: 38px;
                    }
                }
            }

            h3 {
                font-size: 20px;
                font-weight: 600;
                color: var(--text-black-700);
                margin: 0 0 10px;
                text-transform: capitalize;
            }

            p {
                font-size: 16px;
                color: var(--text-black-600);
                margin: 0;
                line-height: 26px;
            }
        }
    }
}